
div{
    padding-top:30px;
    padding-left: 60px;
    padding-right:20px;
    padding-bottom:60px;
    border: 1px solid #990099;
    background-color:#fdddca;
    border-width:15px 5px;
    
}

p{
    text-align: center;
    background-color:white;
    border: 1px dashed black;
    padding: 10px;
    font-size: 12px;

}
